{% extends "layout.html" %}
{% set active_page = "actions" %}
{% block body %}
  {% if session.logged_in %}
  {% else %}
  
  <style>
  input[type='text'] { font-size:40px; }
  input[type='button'] { font-size: 20px; }
  input[type='submit'] { font-size: 30px; }
  
  .text-font {
    font-family: "blink";
  }

  .titolo{
    font-family: "blink";
    text-align: center;
    font-size: 50px;
    color: white;
  }

  .labletempi{
    font-family: "blink";
    text-align: center;
    font-size:20px;
  }
  
  .loader {
    border: 32px solid #f3f3f3; /* Light grey */
    border-top: 32px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
  }
    
  </style>
  <script>
  
  function fsetazione(azione){
      document.getElementById("Attendi").style.display = "block";
      document.getElementById("pulsanti_azioni").style.display = "none";
      document.getElementById("azionetxt").value=azione;
      document.getElementById("azioni").submit();
  }
  
  </script>
  
  <body>
  
  <h1 class="titolo">RASPBEERY</h1>
  <br>
  <div id="pulsanti_azioni" style="display:block">
      
  <form novalidate="true" action="/actions/" method="post" name="azioni" id="azioni">
    

  
  <table width="100%" border="0">
  <tr>
  <td><input type="hidden" id="azionetxt" name="azionetxt" value="" /></br>
  </td>
  </tr>
  
  <tr>
  <td><input type="submit" class="button" name="azione" onclick="fsetazione('pulizia')" value="PULIZIA"/></br>
  </td>
  </tr>

  <tr>
  <td class="spaziatura">&nbsp;
  </td>
  </tr>

  <tr>
  <td><input type="submit" class="button" name="azione" onclick="fsetazione('preparaCo2')" value="PREPARA Co2"/></br>
  </td>
  </tr>
  
  <tr>
  <td><input type="submit" class="button" name="azione" onclick="fsetazione('riempimento')" value="RIEMPIMENTO"/></br>
  </td>
  </tr>
  
  <tr>
  <td><input type="submit" class="button" name="azione" onclick="fsetazione('sfiata')" value="SFIATA"/></br>
  </td>
  </tr>
  
  <tr>
  <td><input type="submit" class="button" name="azione" onclick="fsetazione('processoCompleto')" value="PROCESSO COMPLETO"/></br>
  </td>
  </tr>
  </table>
  
  
  <!--input type="button" name="setpreparaVuotoCo2" onclick="fsetazione('preparaVuotoCo2')" value="preparaVuotoCo2"/></br-->
  <!--input type="button" name="setthreadReset" onclick="fsetazione('threadReset')" value="threadReset"/></br-->
  </div>
  <div id="Attendi" class="loader" style="display:none" align="center"></div>
  
  </form>
  
  <br><br>  
  <img src="{{url_for('static', filename='hop-logo.png')}}" class="center" style="width:200px; height: 200px;">

  </body>
  </html>

  {% endif %}
{% endblock %}