{% extends "layout.html" %}
{% set active_page = "home" %}
{% block body %}
<style>
body{
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.text-font {
  font-family: "blink";
}

.titolo{
  font-family: "blink";
  text-align: center;
  font-size: 50px;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}

</style>

<body>
	<h1 class="titolo">HOME PAGE<h1>
  <br><br>
  <img src="{{url_for('static', filename='hop-logo.png')}}" class="center" style="width:200px; height: 200px;">
</body>

{% endblock %}
