{% extends "layout.html" %}
{% set active_page = "settings" %}
{% block body %}
  {% if session.logged_in %}
  {% else %}
  
  <style>
  input[type='text'] { 
    font-size: 30px;
  }
  
  .loader {
    border: 32px solid #f3f3f3; /* Light grey */
    border-top: 32px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  </style>
  <script>
  
  function fsetazione(azione){
      document.getElementById("Attendi").style.display = "block";
      document.getElementById("pulsanti_azioni").style.display = "none";
      document.getElementById("azione").value=azione;
      document.getElementById("dati").submit();
  }
  
  </script>
  
  <body>
  
  <h1 class="titolo">RASPBEERY SETTINGS</h1>
  <br>
  <div id="pulsanti_azioni" style="display:block">
      
  <form novalidate="true" action="/settings/" method="post" name="dati" id="dati">
  <table border="0" width="100%">
  <tr>
  
  </tr>

  <tr>
  <td><p class="labletempi">Numero Cicli Pulizia : </p></td>
  <td><input type="text" size="1" name="numCicliPulizia" value="{{ numCicliPulizia }}" /></td>
  </tr>

  <tr>
    <td class="spaziatura">&nbsp;</td>
  </tr>

  <tr>
  <td><p class="labletempi">Numero Cicli Prepara : </p></td>
  <td><input type="text" size="1" name="numCicliPrepara" value="{{ numCicliPrepara }}" /></td>
  </tr>
  <tr>
  <td><p class="labletempi">Time Vuoto : </p></td>
  <td><input type="text" size="1" name="timeVuoto" value="{{ timeVuoto }}" /></td>
  </tr>
  <tr>
  <td><p class="labletempi">Time Co2 : </p></td>
  <td><input type="text" size="1" name="timeCo2" value="{{ timeCo2 }}" /></td>
  </tr>
  <tr>
  <td><p class="labletempi">Time Co2 Sfiato : </p></td>
  <td><input type="text" size="1" name="timeCo2Sfiato" value="{{ timeCo2Sfiato }}" /></td>
  </tr>
  <tr>
  <td><p class="labletempi">Time Riempimento : </p></td>
  <td><input type="text" size="1" name="timeBirraRiempimento" value="{{ timeBirraRiempimento }}" /></td>
  </tr>
  <tr>
  <td><p class="labletempi">Time Attesa : </p></td>
  <td><input type="text" size="1" name="timeBirraAttesa" value="{{ timeBirraAttesa }}" /></td>
  </tr>
  <tr>
  <td><p class="labletempi">Time Sfiato : </p></td>
  <td><input type="text" size="1" name="timeSfiato" value="{{ timeSfiato }}" /></td>
  </tr>
  <tr>
  <td>&nbsp;
  </td>
  </tr>
  <tr>
  <td>&nbsp;
  </td>
  </tr>
  <tr>
  <td style="width:45%">
    <!--input type="button" name="tempistandard" class="tempibutton" onclick="numCicliPrepara.value='2';timeVuoto.value='0';timeCo2.value='1';timeCo2Sfiato.value='1';timeBirraRiempimento.value='5';timeBirraAttesa.value='3';timeSfiato.value='3';" value="Tempistandard"/-->
  <input type="submit" class="button" name="impostatempi" value="IMPOSTA TEMPI"/>
  </td>
  <td colspan="2" style="width:45%"><input type="submit" class="button" name="impostatempi" value="TEMPI STANDARD"/>
  </td>
  </tr>
  </table>

  </form> 
  
  <br><br>  
  <img src="{{url_for('static', filename='hop-logo.png')}}" class="center" style="width:200px; height: 200px;">

  </body>
  </html>

  {% endif %}
{% endblock %}