{% extends "layout.html" %}
{% set active_page = "settings" %}
{% block body %}
  {% if session.logged_in %}
  {% else %}
  
  <style>
  input[type='text'] { font-size:30px; }
  input[type='button'] { font-size: 20px; }
  input[type='submit'] { font-size: 20px; }
  
  .labletempi{
      text-align: center;
    font-size:20px;
  }
  
  .loader {
    border: 32px solid #f3f3f3; /* Light grey */
    border-top: 32px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .tempibutton {
    display: block;
    height: 100px;
    /* New Button Style option*/
    margin: 0 auto; /* Centra il Bottone nella Pagina*/
    width: 90%; /* Larghezza Ridotta*/
    border-radius: 10px; /* Bordi arrotondati */
    /* background-color: blue; */
    /*color: white; colore testo*/
    border: none;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    /*font-size: 16px;*/
    box-shadow: 0 4px rgba(0,0,0,0.3); /* Ombra */
  }

  .tempibutton:hover { /* modifiche attivate al passaggio del mouse*/
    /*background-color: #3e8e41*/
  }

  .tempibutton:active { /* modifiche attivate al click del mouse*/
    /*background-color: #3e8e41;*/
    /* Prossime 2 righe effetto pulsante schiacciato*/
    box-shadow: 0 1px #000;
    transform: translateY(3px);
  }
  body
  {
    background:
      linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
      linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
      linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
      linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
      linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
      linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
  }
  .titolo{
      text-align: center;
      font-size: 50px;
      color: black;
  }
  
  </style>
  <script>
  
  function fsetazione(azione){
      document.getElementById("Attendi").style.display = "block";
      document.getElementById("pulsanti_azioni").style.display = "none";
      document.getElementById("azione").value=azione;
      document.getElementById("dati").submit();
  }
  
  
  </script>

  
  <body>
  
  <h1 class="titolo">RASPBEERY</h1>
  <br>
  <div id="pulsanti_azioni" style="display:block">
      
  <form novalidate="true" action="/settings/" method="post" name="dati" id="dati">
  <table border="0" width="100%">
  <tr>
  
  </tr>
  
  <tr>
  <td><p class="labletempi">Numero Cicli Prepara : </p></td>
  <td><input type="text" size="1" name="numCicliPrepara" value="{{ numCicliPrepara }}" /></td>
  </tr>
  <tr>
  <td><p class="labletempi">Time Vuoto : </p></td>
  <td><input type="text" size="1" name="timeVuoto" value="{{ timeVuoto }}" /></td>
  </tr>
  <tr>
  <td><p class="labletempi">Time Co2 : </p></td>
  <td><input type="text" size="1" name="timeCo2" value="{{ timeCo2 }}" /></td>
  </tr>
  <tr>
  <td><p class="labletempi">Time Co2 Sfiato : </p></td>
  <td><input type="text" size="1" name="timeCo2Sfiato" value="{{ timeCo2Sfiato }}" /></td>
  </tr>
  <tr>
  <td><p class="labletempi">Time Riempimento : </p></td>
  <td><input type="text" size="1" name="timeBirraRiempimento" value="{{ timeBirraRiempimento }}" /></td>
  </tr>
  <tr>
  <td><p class="labletempi">Time Attesa : </p></td>
  <td><input type="text" size="1" name="timeBirraAttesa" value="{{ timeBirraAttesa }}" /></td>
  </tr>
  <tr>
  <td><p class="labletempi">Time Sfiato : </p></td>
  <td><input type="text" size="1" name="timeSfiato" value="{{ timeSfiato }}" /></td>
  </tr>
  <tr>
  <td>&nbsp;
  </td>
  </tr>
  <tr>
  <td>&nbsp;
  </td>
  </tr>
  <tr>
  <td><!--input type="button" name="tempistandard" class="tempibutton" onclick="numCicliPrepara.value='2';timeVuoto.value='0';timeCo2.value='1';timeCo2Sfiato.value='1';timeBirraRiempimento.value='5';timeBirraAttesa.value='3';timeSfiato.value='3';" value="Tempistandard"/-->
  <input type="submit" class="tempibutton" name="impostatempi" value="IMPOSTA TEMPI"/>
  </td>
  <td colspan="2"><input type="submit" class="tempibutton" name="impostatempi" value="Tempistandard"/>
  </td>
  </tr>
  </table>
  
  
  </br>
  </br>

  </form>
  
  
  
  
  </body>
  </html>

  {% endif %}
{% endblock %}