{% extends "layout.html" %}
{% set active_page = "settings" %}
{% block body %}
{% if session.logged_in %}
{% else %}

<form novalidate="true" action="/system/" method="post" name="systemactions" id="systemactions">
<br>
<br>
<input type="submit" class="tempibutton" name="dosystemactions" value="REBOOT"/>
<br>
<br>
<input type="submit" class="tempibutton" name="dosystemactions" value="SHUTDOWN"/>
<br>
<br>
<input type="submit" class="tempibutton" name="dosystemactions" value="GIT PULL"/>
  
</form>


{% endif %}
{% endblock %}